body {
  font-family: 'Nordica';
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 115%;
  color: #3a3a3a;
}

header {

  margin: auto;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 99999;
  background-color: #fff;
}

header img {
  width: 390px;
  margin: auto;
  margin-top: 15px;
}

h1 {
  text-align: center;
  font-family: 'Nordica';
}



.banna{
  width: 800px;
  margin: auto;
}

hr {
  border: 0;
  height: 0;
  width: 600px;
  margin: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 0px;
}

hr.bot {
  border: 0;
  height: 0;
  width: 600px;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 0px!important;
  margin-top: 0px;
}

.intro {
  margin: auto;
  width: 600px;
  font-size: 20px;
  margin-bottom: 30px;
}

.intro h1 {
  font-family:;
}

.intro p {
  line-height: 120%;
  text-align: justify;
  width: 600px;
  margin: auto;
}

@font-face {
	font-family: Nordica;
	src: url("fonts/NordicaHairline.otf");
  src: local('Nordica'), local('Nordica'), url('fonts/NordicaHairline.otf') format('truetype');
}

@font-face {
	font-family: 'Neou-Thin';
	src: url("fonts/Neou-Thin.ttf");
  src: local('Neou-Thin'), url('fonts/Neou-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'KGNeatlyPrinted';
	src: url("fonts/KGNeatlyPrinted.ttf");
  src: local('KG'), url('fonts/KGNeatlyPrinted.ttf') format('truetype');
}

@font-face {
	font-family: "Sequel-Regular";
	src: url("fonts/Sequel-Regular.ttf");
  src: local('Sequel'), url('fonts/Sequel-Regular.ttf') format('truetype');
}

img.photo  {
  float: left;
  margin: auto;
  width: 350px;
  margin: 20px;
}

.pgph {
  margin: auto;
  display: block;
  float: right;
  text-align: justify;
  width: 350px;
  margin-right: 29px;
}

.pgph h1 {
  text-transform: uppercase;
  margin: 1px;
}

.pgph p {
  line-height: 140%;
  font-size: 105%;
}

.first {
  font-size: 140%;
}

.section1 {
  width: 900px;
  margin-top: 160px!important;
  margin: auto;
  margin-left: 200px;
}

.description {
  padding-top: 20px;
  padding-bottom: 15px;
  letter-spacing: 4px;
  word-spacing: 6px;
  font-size: 205%;
}

.list {
  margin: auto;
  width: 100%;
    margin-bottom: 20px!important;
  margin-top: 20px;
}

.list h2 {
  text-align: center;

}
.works {
  width: 100%;
  margin: auto;
  margin-left: 130px;
  margin-bottom: 40px;
}

.works ul {
  margin: auto;
  width: 1200px;
}

.works ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  padding-bottom: 15px;
  float: left;
  text-transform: uppercase;
  font-size: 160%;
  line-height: 130%;
  border: 3px double #3a3a3a;
  border-radius: 5px;
  margin: 12px;
  text-align: center;
}

.works ul li:before {
  content: "+";
  font-size: 160%;
  line-height: 150%;
  padding-right: 10px;
  font-weight: 500;
  font-family: 'helvetica neue';
}

.works ul li a {
  color: inherit;
  text-decoration: none;
}

.works ul li:hover {
  border-radius: 15px;
}

.toggle-me {
  display: none;
}

div:hover .toggle-me {
  display: inline-block;
  font-size: 14px;
  text-transform: none;
  text-align: center;
  width: 84px!important;
}

.socials {
  margin: auto;
  margin-bottom: 150px;
  margin-top: 50px;
  text-align: center;
}

.socials ul li {
  list-style-type: none;
  display: inline-block;
}

.socials img {
  width: 45px;
  margin: 25px;
}

img.socials {
  width: 10px;
  margin: 20px;
  margin: auto;
}

footer {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  z-index: 99999;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #D3E5E6
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer h2 {
    padding-top: 5px;
}

footer a:hover {
  color: #000;
  text-decoration: line-through;
}
